.containter {
  width:0.32rem;
  margin:auto
}
.calender-wrap {
  -webkit-animation:clafade .3s ease;
  -moz-animation:clafade .3s ease;
  animation:clafade .3s ease;
  padding:0.05rem;
  background:#fff;
  width:9.4rem;
  box-shadow:0rem 0.5rem 0.8rem rgba(0,0,0,0.5);
  border-radius:0.2rem;
  position:relative;
  font-family:"Microsoft yahei";
  position:absolute;
  z-index:1000
}
.calender-wrap {
  border:1px solid #e2e2e2
}
/*.calender-wrap:after {
  content:'';
  display:inline-block;
  border-left:0.3rem solid transparent;
  border-right:0.3rem solid transparent;
  border-bottom:0.3rem solid #eee;
  border-top:0;
  border-bottom-color:#d7d7d7;
  position:absolute;
  left:0.2rem;
  top:-0.1rem
}*/
/*.calender-wrap:before {
  content:'';
  display:inline-block;
  border-left:0.3rem solid transparent;
  border-right:0.3rem solid transparent;
  border-bottom:0.3rem solid #ffffff;
  border-top:0;
  position:absolute;
  left:0.1rem;
  top:-0.1rem;
  z-index:10
}*/
.calender-caption {
  height:0.5rem;
  border-bottom:1px solid #ddd;
  z-index:2;
  background:#eee
}
.calender-content {
  position:relative;
  overflow:hidden
}
.calender-content:after {
  content:'';
  display:block;
  clear:both
}
.calender-cell {
  cursor:pointer;
  float:left;
  width:14.28571428%;
  height:1rem;
  text-align:center;
  line-height:0.5rem;
  font-size:0.32rem;
  color:#000;
  z-index:1;
  border-bottom:1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calender-cell:hover {
  background:#eee
}
.calender-caption .calender-cell:hover {
  background:none
}
.calender-cell-dark {
  cursor:no-drop;
  color:#b9b9b9
}
.calender-caption .calender-cell {
  height:0.5rem;
  line-height:0.5rem;
  font-size:0.32rem;
  color:#111;
  font-weight:bold
}
.calender-header {
  text-align:center;
  line-height:0.9rem;
  text-align:center;
  color:#888;
  padding-bottom:0.04rem;
  margin-bottom:1px;
  background:#fff;
  position:relative;
  border-bottom:1px solid #e6e6e6;
  font-size:0.32rem
}
#calender-prev,#calender-next {
  text-decoration:none;
  display:block;
  width:14.2857%;
  height:0.35rem;
  background:#fff;
  position:absolute;
  left:0%;
  top:0px;
  font-family:'宋体';
  font-size:0.35rem;
  color:#555
}
#calender-prev,#calender-next {
  color:#999;
  font-size:0.32rem;
  width: 1.2rem;
  height: 0.8rem;
}
#calender-prev:hover,#calender-next:hover {
  background:#eee;
  border-radius:0.3rem;
  color:#222
}
#calender-next {
  left:auto;
  right:0%
}
#calender-year,#calender-mon {
  cursor:pointer;
  padding:0.2rem 0.4rem;
  border-radius: 0.03rem;
  margin:0 0.03rem;
}
#calender-year:hover,#calender-mon:hover {
  background:#eee
}
.calender-list {
  overflow:hidden
}
.calender-list2,.calender-list3 {
  display:none
}
.calender-year-cell,.calender-mon-cell {
  width:32.41%;
  float:left;
  border-radius:0.04rem;
  text-align:center;
  font-size:.32rem;
  padding:0.15rem 0;
  border:1px solid #fff
}
.calender-year-cell:hover,.calender-mon-cell:hover {
  background:#eee;
  cursor:pointer
}
.calender-cell.active,.calender-year-cell.active,.calender-mon-cell.active {
  background:#23acf1;
  color:#fff
}
.calender-cell.active:hover,.calender-year-cell.active:hover,.calender-mon-cell.active:hover {
  background:#23acf1;
  color:#fff
}
.calender-button {
  border-top:1px solid #eee;
  width:100%;
  margin-top:-1px;
  padding:0.5rem 0px 0.5rem 0;
  overflow:hidden
}
.calender-button a {
  display:block;
  text-align:center;
  padding:0px 0.3rem;
  height: 0.8rem;
  line-height: 0.8rem;
  float:right;
  background:#23acf1;
  color:#fff;
  margin-right:0rem;
  cursor:pointer;
  margin-left:0.5rem;
  font-size:0.35rem;
  text-decoration:none;
  border-radius: 0.2rem;
}
.calender-button a:hover {
  background:#0084c9
}
.calender-wrap.year .calender-list,.calender-wrap.month .calender-list {
  display:none
}
.calender-wrap.year .calender-list2 {
  display:block
}
.calender-wrap.month .calender-list3 {
  display:block
}
@keyframes clafade {
  0% {
    transform:scale(0.95);
    opacity:0
  }
  100% {
    transform:scale(1);
    opacity:1
  }
}@-webkit-keyframes clafade {
   0% {
     -webkit-transform:scale(0.95);
     opacity:0
   }
   100% {
     -webkit-transform:scale(1);
     opacity:1
   }
 }