@charset "utf-8";
.margin{
  margin:0 0.45rem;
  box-sizing:border-box;
  padding:0;
}
header{
  border-bottom: 0.01rem solid #d2d2d2;
  position: fixed;
  left:0;
  top:0;
  z-index: 99;
  width:14.4rem;
  height:1.92rem;
  background: #f7f7f7;
  .headerCont{
    height:1.92rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    .headerLeft{
      display: flex;
      align-items: center;
      font:0.68rem "微软雅黑";
      color:#666;
    }
    .headerRight{
      display: flex;
      align-items: center;
      img{
        margin-left:0.95rem;
        &:nth-of-type(1){
          width:0.72rem;
        }
        &:nth-of-type(2){
          width:0.77rem;
        }

      }
    }
  }
}
section{
  padding:1.93rem 0 2.1rem 0;
  background: #f0eff4;
  .contactLists{
    background: #fff;
    margin-bottom:0.64rem;
    ul{
      li{display: flex;
        align-items: center;
        height:2.55rem;
        font:0.6rem/2.55rem "微软雅黑";
        color:#323334;
        &:nth-last-of-type(1){
          .right{
            border:0;
          }
        }
        .left{
          height:2.55rem;
          width:1.6rem;
          margin-right: 0.45rem;
          img{

            width:1.6rem;
            height:1.6rem;
          }

        }
        .right{
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height:2.55rem;
          width:11.84rem;
          border-bottom:0.01rem solid #c5c5c5;
          i{display: flex;
            align-items: center;
            border-left:0.01rem solid #e4e4e4;
            font:0.52rem "微软雅黑";
            color:#38adff;
            height:0.9rem;
            img{
              width:0.55rem;
              height:0.55rem;
              padding:0 0.15rem 0 0.45rem;

            }
          }
          .regisiter{
            position: absolute;
            width:2.6rem;
            height:0.78rem;
            left:2.4rem;
            top:0.8rem;
          }
        }
      }
    }
    &:nth-of-type(2){
      ul{
        li{
          &:nth-of-type(1){
            .left{
              img{
                width:1.6rem;
                height:1.6rem;
              }
            }
          }
          .left{
            display: flex;
            align-items: center;
            justify-content: center;
            width:1.6rem;
            height:2.55rem;
            margin-right: 0.45rem;
            img{
              width:0.45rem;
              height:0.47rem;
            }
          }
        }
      }

    }
  }
}
footer{
  border-top:0.01rem solid #d2d2d2;
  background: #f7f7f7;
  height:2.1rem;
  position: fixed;
  left:0;
  bottom:0;
  width:14.4rem;
  .nav{
    margin: 0 0.5rem;
    height:2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    div{
      margin-top:0.3rem;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      p{
        font:0.4rem/0.76rem "微软雅黑";
        color:#38adff;
      }
    }
    .msg{
      img{
        width:0.9rem;
      }
    }
    .ding{
      img{
        width:0.74rem;
      }
    }
    .work{
      img{
        width:0.8rem;
      }
    }
    .contact{
      img{
        width:0.95rem;
      }
    }
    .mine{
      img{
        width:0.77rem;
      }
    }
  }
}
