@charset "utf-8";
.margin{
  margin:0 0.45rem;
  box-sizing:border-box;
  padding:0;
}
body{
  width:10.8rem;
  background: #ebf0f3;
}
header{
  box-sizing: border-box;
  width:10.8rem;
  height:1.68rem;
  position: fixed;
  left:0;
  top:0;
  .bg{
    position: absolute;
    width:10.8rem;
    height:1.68rem;
    background: #584f60;
    opacity: 0;
  }
  .header_nav{

    position: absolute;
    width:10.8rem;
    height:1.68rem;
    .cdup{
      position: absolute;
      left:0.55rem;
      top:0rem;
      width:0.4rem;
      height:0.4rem;
      bottom:0;
      margin:auto;
    }
    .h3{
      position: absolute;
      left:1.28rem;
      font:0.48rem/1.68rem "微软雅黑";
      color:#fff;
      top:0;
      display: none;
    }
    .favorite{
      position: absolute;
      right:1.75rem;
      top:0rem;
      width:0.48rem;
      height:0.48rem;
      bottom:0;
      margin:auto;
    }
    .share{
      position: absolute;
      right:0.55rem;
      top:0rem;
      bottom:0;
      margin:auto;
      width:0.43rem;
      height:0.48rem;
    }
  }

}
.general{
  margin-bottom: 0.36rem;
  background: #fff;
  .catering_banner{
    width:10.8rem;
    height:10.11rem;
  }
  p{
    font:0.34rem/0.58rem "微软雅黑";
    color:#666;
    padding:0.6rem 0.45rem;
  }
  span{
    font:0.3rem "微软雅黑";
    color:#999;
    padding:0 0.45rem;
  }
  .keyword{
    padding:0 0.45rem;
    height:2.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid #efefef;
    p{
      padding:0.2rem 0.35rem;
      border:0.02rem solid #40d59d;
      color: #40d59d;
      font:0.34rem "微软雅黑";
    }
  }
  .nutrient_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.75rem 1rem;
    .nutrient{
      text-align: center;
      p{
        font:700 0.4rem "微软雅黑";
        padding:0;
        color:#333;
      }
      span{
        font:0.28rem "微软雅黑";
        color:#999;
        padding:0;
      }
    }
  }
}
.food_material{
  padding:0.8rem 0.45rem;
  margin-bottom: 0.36rem;
  background: #fff;
  .title{
    font:0.34rem "微软雅黑";
    padding-bottom: 0.62rem;
    color:#333;
  }
  .material{
    .food{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        color:#24c68a;
      }
      span{
        font-weight: 700;
        color:#666;
      }
    }
    font:0.4rem/0.78rem "微软雅黑";
  }
}
.cooking{
  background: #fff;
  padding: 0 0.45rem;
  .title{
    padding:0.62rem 0 0.44rem 0;
    font:0.34rem/0.78rem "微软雅黑";
  }
  .step{
    p{
      font:700 0.42rem/1.26rem "微软雅黑";
      color:#666;

    }
    span{
      font:0.34rem "微软雅黑";
      color:#666;
    }
    img{
      width:9.96rem;
      height:9.96rem;
      margin:0.42rem 0;
    }
  }
}






