@charset "utf-8";
.margin{
  margin:0 0.45rem;
  box-sizing:border-box;
  padding:0;
}
body{
  width:10.8rem;
  background: #ebf0f3;
}
@mixin flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  box-sizing: border-box;
  width:10.8rem;
  height:1.68rem;
  position: fixed;
  left:0;
  top:0;
  .bg{
    position: absolute;
    width:10.8rem;
    height:1.68rem;
    background: #584f60;
    opacity: 0;
  }
  .header_nav{
    position: absolute;
    width:10.8rem;
    height:1.68rem;
    .cdup{
      width:1.05rem;
      height:1.05rem;
      border-radius: 50%;
      background: #8b8b8b;
      position: absolute;
      left:0.55rem;
      top:0rem;
      bottom:0;
      margin:auto;
      @include flex_center;
      img{
        width:0.4rem;
        height:0.4rem;
      }
    }
    .h3{
      position: absolute;
      left:1.28rem;
      font:0.48rem/1.68rem "微软雅黑";
      color:#fff;
      top:0;
      display: none;
    }
    .home{
      width:1.05rem;
      height:1.05rem;
      border-radius: 50%;
      background: #8b8b8b;
      position: absolute;
      right:1.75rem;
      top:0rem;
      bottom:0;
      margin:auto;
      @include flex_center;
      img{
        width:0.49rem;
        height:0.44rem;
      }
    }
    .share{
      width:1.05rem;
      height:1.05rem;
      border-radius: 50%;
      background: #8b8b8b;
      position: absolute;
      right:0.55rem;
      top:0rem;
      bottom:0;
      margin:auto;
      @include flex_center;
      img{
        width:0.43rem;
        height:0.48rem;
      }
    }
  }

}




