@charset "utf-8";
.margin{
  margin:0 0.45rem;
  box-sizing:border-box;
  padding:0;
}
body{
  width:10.8rem;
  background: #ebf0f3;
  padding:1.74rem 0 1.74rem 0;
}
.mines{
  width:10.8rem;
  background: #fff;
  padding:0 0.45rem;
  height:1.74rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  left:0;
  top:0;
  h2{
    font:0.48rem "微软雅黑";
  }
  .mine_right{
    display: flex;
    align-items: center;
    img{
      width: 0.43rem;
      height:0.36rem;
      &:nth-last-of-type(1){
        margin-left:0.45rem;
        width: 0.52rem;
        height:0.52rem;
      }
    }
  }


}
.info{
  padding:0 0.45rem;
  box-sizing: border-box;
  width:10.8rem;
  height:3.9rem;
  background: #584f60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .info_left{
    display: flex;
    align-items: center;
    img{
      width: 1.86rem;
      height: 1.86rem;
    }
    .cont{
      margin-left:0.45rem;
      .top{
        display: flex;
        align-items: center;
        margin-bottom: 0.45rem;
        p{
          font:0.54rem "微软雅黑";
          color:#fff;
          letter-spacing: 0.03rem;
          margin-right:0.3rem;
        }
        img{
          width: 0.36rem;
          height: 0.36rem;
        }
      }
      .bottom{
        span{
          font:0.32rem "微软雅黑";
          color:#fff;
          letter-spacing: 0.03rem;
        }
      }
    }
  }
  img{
    width:0.2rem;
    height:0.36rem;
  }
}
.sport_info{
  background: #fff;
  padding-bottom: 0.8rem;
  .sport_time{
    padding:1.05rem 0.45rem;
    font:0.36rem "微软雅黑";
  }
  .sport_items{
    display: flex;
    align-items: inherit;
    .item{
      margin:0 0.5rem;
      text-align: center;
      .lis{
        height:0.6rem;
        display: flex;
        align-items: center;

      }
      &:nth-of-type(1){
        img{
          width: 1.26rem;
          height:0.52rem;
        }
      }
      &:nth-of-type(2){
        img{
          width: 1.1rem;
          height:0.34rem;
        }
      }
      &:nth-of-type(3){
        img{
          width: 0.94rem;
          height:0.34rem;
        }
      }
      &:nth-of-type(4){
        img{
          width: 0.94rem;
          height:0.34rem;
        }
      }
      p{
        font:0.3rem "微软雅黑";
        color:#584f60;
      }

    }
  }
}
.health_data{
  background: #fff;
  border-bottom:0.01rem solid #ededed;
  .data_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:0.01rem solid #ededed;
    margin-left:0.45rem;
    padding:0.7rem 0.45rem 0.7rem 0;
    p{
      font:0.46rem "微软雅黑";
    }
    img{
      width:0.2rem;
      height:0.36rem;
    }
  }
  .data_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .item{
      padding:0 0.68rem ;
      img{
        width: 0.7rem;
        height:0.7rem;
      }
      p{padding:0.3rem 0 0.6rem 0;
        font:0.3rem "微软雅黑";
      }
    }
  }
}
@mixin function{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:1.8rem;
  padding:0 0.45rem;
  background: #fff;
  border-bottom: 0.01rem solid #ededed;
  p{
    font:0.32rem "微软雅黑";
    color:#666;
  }
  .nomore{
    display: flex;
    align-items: center;
    p{

    }
    img{
      width:0.2rem;
      height:0.36rem;
      margin-left:0.3rem;
    }
  }
}

.emblem{
  @include function;
  border:0;
  margin-bottom: 0.36rem;
}
.training_diary{
  @include function;
}
.profiles{
  @include function;
}
.weekly_goals{
  @include function;
  border:0;
  margin-bottom: 0.36rem;
}
.my_activities{
  @include function;
}
.my_collect{
  @include function;
}
.my_group{
  @include function;
  border:0;
  margin-bottom: 0.36rem;
}
.shopping_cart{
  @include function;
}
.purchase_history{
  @include function;
}
.discount_coupon{
  @include function;
  border:0;
  margin-bottom: 0.36rem;
}









.nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding:0.36rem 1rem 0;
  background: #fff;
  position: fixed;
  left:0;
  bottom:0;
  z-index: 99;
  width:10.8rem;
  border-top: 0.01rem solid #d2d2d2;
  box-sizing: border-box;
  p{
    margin-top:0.25rem;
    font:0.3rem "微软雅黑";
    color:#999;
  }
  .box{
    height:1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .training{
    img{
      width:0.42rem;
      height:0.57rem;
    }
  }
  .discover{
    img{
      width:0.48rem;
      height:0.48rem;
    }
  }
  .trends{
    img{
      width:0.49rem;
      height:0.4rem;
    }
  }
  .mine{
    img{
      width:0.5rem;
      height:0.5rem;
    }
  }
}