@charset "utf-8";
.margin{
  margin:0 0.45rem;
  box-sizing:border-box;
  padding:0;
}
body{
  width:10.8rem;
  background: #ebf0f3;
  padding:1.64rem 0 1.6rem 0;
}

.status_nav{
  border-bottom: 0.01rem solid #d2d2d2;
  z-index: 8;
  width:10.8rem;
  height:1.62rem;
  background: #fff;
  position: fixed;
  left:0;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 0.45rem;
  box-sizing: border-box;
  img{
    width:0.55rem;
    height:0.48rem;

  }
  ul{
    height:1.62rem;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      border-bottom: 0.06rem solid #fff;
      p{
        font:0.42rem/1.5rem "微软雅黑";
        padding:0 0.7rem;
        color:#584f60;
        border-bottom: 0.06rem solid #fff;
      }

    }
    .active{
      border-bottom: 0.06rem solid #584f60;
    }
  }
}

/*
  slide1

*/


.hot_banner{
  width:10.8rem;
  height:5.76rem;
  .swiper-container{
    .swiper-wrapper{
      .swiper-slide{
        img{
          width:10.8rem;
          height:5.76rem;
        }
      }
    }
  }
}
.hot_news{
  width:10.8rem;
  background: #fff;
  padding:0.45rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
  .hot_new{
    padding-bottom:0.45rem;
    width:4.77rem;
    img{
      width:4.77rem;
      height:4.92rem;
    }
    p{
      height:0.8rem;
      padding:0 0.2rem;
      margin:0.32rem 0;
      font:0.3rem "微软雅黑";
    }
    .hot_new_bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left{
        display: flex;
        align-items: center;
        img{
          width:0.63rem;
          height:0.63rem;
        }
        span{
          margin-left:0.2rem;
          font:0.24rem "微软雅黑";
          color: #999;
        }
      }
      .right{
        display: flex;
        align-items: center;
        img{
          width:0.3rem;
          height:0.25rem;
        }
        span{
          margin:0 0.5rem 0 0.2rem;
          font:0.22rem "微软雅黑";
          color: #999;
        }
      }
    }
  }
}




.nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding:0.36rem 1rem 0;
  background: #fff;
  position: fixed;
  left:0;
  bottom:0;
  z-index: 99;
  width:10.8rem;
  border-top: 0.01rem solid #d2d2d2;
  box-sizing: border-box;
  p{
    margin-top:0.25rem;
    font:0.3rem "微软雅黑";
    color:#999;
  }
  .box{
    height:1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .training{
    img{
      width:0.42rem;
      height:0.57rem;
    }
  }
  .discover{
    img{
      width:0.48rem;
      height:0.48rem;
    }
  }
  .trends{
    img{
      width:0.49rem;
      height:0.4rem;
    }
  }
  .mine{
    img{
      width:0.5rem;
      height:0.5rem;
    }
  }
}